<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 pt-5 mx-auto text-light">
      <div class="text-center">
        <h2>
          <i class="fas fa-server"></i>
          Reportes - Planillas
        </h2>
      </div>
      <div class="card-body">
        Esto esta generado con el fin de tener un mejor control y una mejor vista de lo que se quiere ver de los usuarios de empresas.
        <br>
        Puedes ir a administrar:
        <ul>
          <li><a href="/reports">Reportes</a></li>
          <li><a href="/sheets">Planillas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
