body {
  background: #f9f9f9;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #0f101a;
}
body::-webkit-scrollbar-thumb {
  background: gray;
}
.table {
  margin: 0;
}
.card-body {
  overflow: hidden;
  padding: 0;
}
